[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = Heat

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = SpideyZac 8044

# Short description of the bot
description = Heat is a heet seeker bot that was trained with ML

# Fun fact about the bot
fun_fact = Heat is a ML bot!

# Link to github repository
github = https://github.com/SpideyZac/Heat

# Programming language
language = python
